body
  font-size: 1.5rem
  font-style: italic
  border-style: groove
  // border-radius: 15%
  margin-bottom: 5px
  border-bottom: 5px

main .sidebar:first-of-type
  background-color: LightSalmon

main .sidebar:last-of-type
  background-color: LightSteelBlue
